.categories img{
    width: 100px;
}

.sec-space{
    margin-bottom: 50px;
}
.slide-sec{
    margin-top: 120px;
}
.myBg-color{
    background-color: #FCEAE8;
}
.myCarousel-item{
    padding: 20px 30px
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: lightskyblue;
}
.cat3{
    background-color: blueviolet;
}

.cat1, .cat2, .cat3{
    color: white;
    padding: 10px 40px;
}

.myCard{
    border: none;
    box-shadow: 5px 5px 15px #69696963;
    padding: 15px 10px;
}
.myCard-footer{
    border: none;
    background: none;
}
.rounded-border{
    border-radius: 15px;
}