.categories img{
    width: 100px;
}

.sec-space{
    margin-bottom: 50px;
}
.slide-sec{
    margin-top: 100px;
}

.cat1{
    background-color: orange;
}
.cat2{
    background-color: lightskyblue;
}
.cat3{
    background-color: blueviolet;
}

.cat1, .cat2, .cat3{
    color: white;
    border-radius: 15px;
    padding: 10px 40px;
}