.categories img{
    width: 100px;
}
.myBtn{
    color: whitesmoke;
    background: linear-gradient(#fc7eae 0%, #ff106b 100%);
    border: none;
}
.sec-space{
    margin-bottom: 50px;
}
.myPrice-color{
    color: #ff106b;
}
.slide-sec{
    margin-top: 120px;
}
.myBg-color{
    background-color: #FCEAE8;
}
.myCarousel-item{
    padding: 20px 30px
}
.cat1{
    background-color: #FFA500;
}
.cat2{
    background-color: #DA70D6;
}
.cat3{
    background-color: #0000FF;
}

.cat1, .cat2, .cat3{
    color: white;
    padding: 10px 40px;
}
.myCard{
    border: none;
    box-shadow: 5px 5px 15px #69696963;
    padding: 15px 10px;
}
.myCard-footer{
    border: none;
    background: none;
}
.rounded-border{
    border-radius: 15px;
}